.title {
  text-align: center;
}

#footer a:link {
  color: rgba(136, 14, 79, 0.9);
}

#footer a:visited {
  color: rgba(136, 14, 79, 0.9);
}

#footer a:hover {
  color: #000;
}

body {
  background: #ffcdd2;
  color: rgba(136, 14, 79, 0.9);
}

.box {
  position: relative;
  margin: auto;
  display: block;
  /*optional background or border*/
  margin-top: 4%;
  width: 650px;
  height: 450px;
  background: none;
}

.arrow {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 15%;
  height: 15%;
  background: rgba(136, 14, 79, 0.9);
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  animation: moveArrow 3s 1;
}

@keyframes moveArrow {
  0% {
    left: 1%;
    background: #f8bbd0;
    transform: rotate(0deg);
  }
  90% {
    left: 88%;
    background: rgba(136, 14, 79, 0.9);
  }
  100% {
    background: rgba(136, 14, 79, 0.9);
    transform: rotate(180deg);
  }
}
.num-bar {
  position: absolute;
  top: 1%;
  left: 98%;
  width: 1%;
  height: 100%;
  background: rgba(136, 14, 79, 0.9);
}

.num-bar-10 {
  position: absolute;
  top: 90%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #e0f7fa;
}

.num-bar-20 {
  position: absolute;
  top: 80%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #b2ebf2;
}

.num-bar-10 {
  position: absolute;
  top: 90%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #e0f7fa;
}

.num-bar-30 {
  position: absolute;
  top: 70%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #80deea;
}

.num-bar-40 {
  position: absolute;
  top: 60%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #4dd0e1;
}

.num-bar-50 {
  position: absolute;
  top: 50%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #26c6da;
}

.num-bar-60 {
  position: absolute;
  top: 40%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #00bcd4;
}

.num-bar-70 {
  position: absolute;
  top: 30%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #00acc1;
}

.num-bar-80 {
  position: absolute;
  top: 20%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #0097a7;
}

.num-bar-90 {
  position: absolute;
  top: 10%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #00838f;
}

.num-bar-100 {
  position: absolute;
  top: 0%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: #006064;
}

.graph-1 {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 12%;
  height: 30%;
  background: linear-gradient(180deg, rgba(128, 222, 234, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-1 3s 1;
}

.graph-2 {
  position: absolute;
  top: 50%;
  left: 22%;
  width: 12%;
  height: 50%;
  background: linear-gradient(180deg, rgba(38, 198, 218, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-2 5s 1;
}

.graph-3 {
  position: absolute;
  top: 20%;
  left: 39%;
  width: 12%;
  height: 80%;
  background: linear-gradient(180deg, rgba(0, 151, 167, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-3 8s 1;
}

.graph-4 {
  position: absolute;
  top: 0%;
  left: 56%;
  width: 12%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 96, 100, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-4 10s 1;
}

.graph-5 {
  position: absolute;
  top: 80%;
  left: 73%;
  width: 12%;
  height: 20%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}

@keyframes graph-1 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 30%;
  }
}
@keyframes graph-2 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 50%;
  }
}
@keyframes graph-3 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 80%;
  }
}
@keyframes graph-4 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 100%;
  }
}
@keyframes graph-5 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 20%;
  }
}
.line-0 {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 99%;
  height: 1%;
  background: rgba(136, 14, 79, 0.9);
}

.line-30 {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 94%;
  height: 1%;
  background: rgba(136, 14, 79, 0.9);
  animation: line30 3s 1;
}

.line-50 {
  position: absolute;
  top: 50%;
  left: 22%;
  width: 77%;
  height: 1%;
  background: rgba(136, 14, 79, 0.9);
  animation: line50 5s 1;
}

.line-80 {
  position: absolute;
  top: 20%;
  left: 39%;
  width: 60%;
  height: 1%;
  background: rgba(136, 14, 79, 0.9);
  animation: line80 8s 1;
}

.line-100 {
  position: absolute;
  top: 0%;
  left: 56%;
  width: 43%;
  height: 1%;
  background: rgba(136, 14, 79, 0.9);
  animation: line100 10s 1;
}

.line-20 {
  position: absolute;
  top: 80%;
  left: 73%;
  width: 26%;
  height: 1%;
  background: rgba(136, 14, 79, 0.9);
  animation: line20 2s 1;
}

@keyframes line30 {
  0% {
    width: 0%;
    left: 99%;
  }
  100% {
    width: 94%;
  }
}
@keyframes line50 {
  0% {
    width: 0%;
    left: 99%;
  }
  100% {
    width: 77%;
  }
}
@keyframes line80 {
  0% {
    width: 0%;
    left: 99%;
  }
  100% {
    width: 60%;
  }
}
@keyframes line100 {
  0% {
    width: 0%;
    left: 99%;
  }
  100% {
    width: 43%;
  }
}
@keyframes line20 {
  0% {
    width: 0%;
    left: 99%;
  }
  100% {
    width: 26%;
  }
}